<div class="card card-success card-outline card-outline-tabs mt-4">
  <div class="card-header p-0 border-bottom-0">
    <ul class="nav nav-tabs" role="tablist">

      <li class="nav-item">
        <a class="nav-link active" data-toggle="pill" href="#general-config" role="tab"><i
            class="fas fa-users-cog"></i>&nbsp;General</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" data-toggle="pill" href="#FORMS-config" role="tab"><i
            class="far fa-calendar-alt"></i>&nbsp;Formularios</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" data-toggle="pill" href="#paginaweb-config" role="tab"><i
                class="fas fa-marker"></i>&nbsp;Web-dental</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" data-toggle="pill" href="#custom-switch-config" role="tab"><i
              class="fas fa-marker"></i>&nbsp;Form Custom-Switch</a>
  </li>


  <li class="nav-item">
    <a class="nav-link" data-toggle="pill" href="#Angular-tips" role="tab"><i
            class="fas fa-marker"></i>&nbsp;Angular</a>
  </li>

  <div *ngIf="data$ | async as data; else loading">
    <p>{{ data }}</p>
  </div>
  <ng-template #loading>
    <p>Loading...</p>
  </ng-template>

  

    </ul>
  </div>

  <div class="card-body">
    <div class="tab-content">




      <!-- General Config-->
      <div class="tab-pane fade active  show p-4" id="general-config" role="tabpanel">

        <!-- Tabla 4 Datos Personales -->
        <div class="row border border-success">
          <div class="container-fluid col-12 mt-3">

            <!-- Tabla 4 Datos Personales CARD -->
            <div class="card bg-light col-md-5 mx-auto  border border-success">
              <div class="card-header">
                <div class="row">
                  <div class="col-md-6">
                    <h5 class="text-info">Mi Perfil</h5>
                  </div>
                  <div class="col-md-6 text-right">
                    <button class="btn btn-primary btn-sm">
                      <i class="fas fa-edit"></i> Editar
                    </button>
                  </div>
                </div>
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-md-2">
                    <strong>Nombre</strong>
                  </div>
                  <div class="col-md-4">
                    German Garmendia
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-2">
                    <strong>Correo electrónico</strong>
                  </div>
                  <div class="col-md-4">
                    Garmendia@toledo.cl
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-2">
                    <strong>Contraseña</strong>
                  </div>
                  <div class="col-md-8">
                    **********
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-2">
                    <strong>RUN</strong>
                  </div>
                  <div class="col-md-8">
                    123123123-2
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-2">
                    <strong>Teléfono</strong>
                  </div>
                  <div class="col-md-8">
                    +56 9 1234 1234
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>

        <!-- Card para Planificaciones -->
        <div class="row border border-secondary">
          <div class="container-fluid col-sm-12 m-2">

            <div class="card col-sm-3 bg-light mr-2">

              <div class="card-header">

                <div class="col-md-12">
                  <div class="form-group">
                    <h5 class="title is-5">Educación Parvularia</h5>
                  </div>
                </div>

              </div>

              <div class="card-body">
                <div class="col-md-12">
                  <table class="table">
                    <thead>
                      <tr>
                        <th>Elementos del currículum</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Objetivos de aprendizajes</td>
                        <td>
                          <div class="form-group">
                            <div class="custom-control custom-switch custom-switch-on-success">
                              <input type="checkbox" class="custom-control-input" id="customSwitch111">
                              <label class="custom-control-label" for="customSwitch111"></label>
                            </div>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td>Indicadores de evaluación</td>
                        <td>
                          <div class="form-group">
                            <div class="custom-control custom-switch custom-switch-on-success">
                              <input type="checkbox" class="custom-control-input" id="customSwitch222">
                              <label class="custom-control-label" for="customSwitch222"></label>
                            </div>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td>Habilidad</td>
                        <td>
                          <div class="form-group">
                            <div class="custom-control custom-switch custom-switch-on-success">
                              <input type="checkbox" class="custom-control-input" id="customSwitch33">
                              <label class="custom-control-label" for="customSwitch33"></label>
                            </div>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td>Conocimiento</td>
                        <td>
                          <div class="form-group">
                            <div class="custom-control custom-switch custom-switch-on-success">
                              <input type="checkbox" class="custom-control-input" id="customSwitch44">
                              <label class="custom-control-label" for="customSwitch44"></label>
                            </div>
                          </div>
                        </td>
                      </tr>

                      <tr>
                        <td>Actitud</td>
                        <td>
                          <div class="form-group">
                            <div class="custom-control custom-switch custom-switch-on-success">
                              <input type="checkbox" class="custom-control-input" id="customSwitch55">
                              <label class="custom-control-label" for="customSwitch55"></label>
                            </div>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td>Principios DUA</td>
                        <td>
                          <div class="form-group">
                            <div class="custom-control custom-switch custom-switch-on-success">
                              <input type="checkbox" class="custom-control-input" id="customSwitch66">
                              <label class="custom-control-label" for="customSwitch66"></label>
                            </div>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="col-md-12">
                  <table class="table">
                    <thead>
                      <tr>
                        <th>Momentos de la clase</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Inicio</td>
                        <td>
                          <div class="form-group">
                            <div class="custom-control custom-switch custom-switch-on-success">
                              <input type="checkbox" class="custom-control-input" id="customSwitch77">
                              <label class="custom-control-label" for="customSwitch77"></label>
                            </div>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td>Desarrollo</td>
                        <td>
                          <div class="form-group">
                            <div class="custom-control custom-switch custom-switch-on-success">
                              <input type="checkbox" class="custom-control-input" id="customSwitch88">
                              <label class="custom-control-label" for="customSwitch88"></label>
                            </div>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td>Cierre</td>
                        <td>
                          <div class="form-group">
                            <div class="custom-control custom-switch custom-switch-on-success">
                              <input type="checkbox" class="custom-control-input" id="customSwitch99">
                              <label class="custom-control-label" for="customSwitch99"></label>
                            </div>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>

              </div>

            </div>

          </div>
        </div>

      </div>

      

      <!-- PESTAÑA PARA FORMS -->
      <div class="tab-pane fade  show p-4" id="FORMS-config" role="tabpanel">

                  <!-- Form de Creacion Asignaturas y Talleres -->
        <div class="container-fluid border border-dark p-3">
          <div class="card bg-light col-sm-8 mx-auto">
            <div class="card-footer">
              <h2> Crear Asignatura y/o Taller </h2>
            </div>

            <div class="card-header">
              <div class="row">
                <h5 class="card-title text-muted mt-2">Aqui puedes crear las asignaturas y/o talleres, y
                  asignarlas a los curso correspondiente. </h5>
              </div>
              <!-- <div class="row mt-2">
                                <a class="btn btn-secondary"> Crear Asignatura</a>
                                <a class="btn btn-secondary ml-3" >Crear Taller</a>
                    </div> -->
            </div>


            <div class="card-body">

              <form #x="ngForm" (ngSubmit)="crearAsignatura_Taller(x)">
                <div class="form-row">

                  <div class="form-group col-sm-4">
                    <label>Nombre producto</label>
                    <input type="text" class="form-control" name="nombre" ngModel>
                  </div>

                  <div class="form-group col-sm-4">
                    <label>Codigo</label>
                    <input type="text" class="form-control" name="Codigo" ngModel>
                  </div>

                  <div class="form-group col-sm-4">
                    <label>Costo producto</label>
                    <input type="number" class="form-control" name="bruto" ngModel>
                  </div>


                  <div class="form-group col-sm-4">
                    <label>Cantidad</label>
                    <input type="number" class="form-control" name="Cantidad" ngModel>
                  </div>


                  <div class="form-group col-sm-2">
                    <label class="text-center"><b>&nbsp;</b></label>
                    <button type="submit" class="btn btn-outline-success form-control"><i
                        class="fas fa-plus-square"></i>
                      Crear</button>
                  </div>

                  <div class="form-group col-sm-3">
                    <label class="text-center"><b>&nbsp;</b></label>
                    <button type="button" class="btn btn-outline-secondary form-control"><i class="fas fa-ban"></i>
                      Cancelar</button>
                  </div>
                </div>

              </form>
            </div>

            <div class="jumbotron card-footer" *ngIf="cursosCreados.length != 0">
              <div class="label-container">
                <label for="nivel">Niveles</label>
              </div>
              <div class="form-group row-fluid col-sm-12">
                <div class="form-check d-inline-block mr-3 col-sm-2" *ngFor="let curso of cursosCreados; index as i">
                  <input class="form-check-input" type="checkbox" [value]="curso" id="nivelcurso{{i}}">
                  <label class="form-check-label" for="nivelcurso{{i}}">{{curso}}</label>
                </div>
              </div>

            </div>

            <div class="jumbotron col-md-12 border px-0" *ngIf="cursosCreados.length == 0">
              <section class="card-content d-flex justify-content-center align-self-center">
                <div class="content">

                  <div>
                    <h4 class="text-muted">No se han incluido cursos</h4><br>Cree cursos que
                    se
                    verán aquí
                  </div>

                </div>
              </section>
            </div>



          </div>

          <!-- Tabla de Asignaturas y talleres con boton Edicion -->
          <div class="container my-3">
            <div class="form-group d-flex">
              <!-- UTIL. Descomentar SI se necesita diferenciar la tabla por talleres y cursos -->
              <!-- <div class="mr-3">
                        <select class="form-control">
                          <option value="">Todas</option>
                          <option value="1">Asignaturas</option>  
                          <option value="2">Talleres</option>
                        </select>
                      </div> -->
              <div>
                <a class="btn btn-outline-success mr-2">
                  <i class="fas fa-plus mr-2"></i> Crear taller
                </a>
              </div>
              <div>
                <a class="btn btn-outline-success">
                  <i class="fas fa-plus mr-2"></i> Crear Asignatura
                </a>
              </div>
            </div>

            <div class="row">

              <div class="col-md-6" *ngFor="let curso of tiposEnsenanza2; index as i">
                <div class="card col-sm-12 mb-3">
                  <div class="card-body d-lg-flex justify-content-between ">
                    <p class="card-text truncate mx-3" style="max-width: 16rem;">{{curso}}</p>
                    <div class="card-text "> &nbsp;</div>
                    <div class="card-text "> &nbsp;</div>
                    <div class="card-text "> &nbsp;</div>
                    <div class="dropdown float-right ">
                      <button class="btn btn-outline-secondary dropdown-toggle float-right" type="button"
                        id="dropdownMenuButton{{i}}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        &nbsp;Acciones
                      </button>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">
                          <i class="fas fa-edit mr-2"></i> Editar
                        </a>
                        <a class="dropdown-item" href="#">
                          <i class="fas fa-trash-alt mr-2"></i> Eliminar
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>


          </div>
        </div>


            <!-- Form 1 con fondos de colores Config Curso LCE-->
          <!-- Form 1 y 2 -->
        <div class="container-fluid border border-dark p-3">
          <div class="row border border-dark ">

            <div class="container-fluid col-sm-4 float-left">
              <div class="row ">

                <div class="card">
                  <div class="card-body bootstrap-light-bg">
                    <div class="row">
                      <div class="col-sm-8">
                        <label for="curso">
                          <h2>Curso </h2>
                        </label>

                        <div class="form-group row">

                          <div class="col-sm-6">
                            <label class="text-left">Tipo de Enseñanza</label>
                            <select class="form-control" name="curso" ngModel>
                              <option value="-1">(Seleccione)</option>
                              <option *ngFor="let curso of cursos" [value]="curso">
                                {{curso}}</option>
                            </select>
                          </div>

                          <div class="col-sm-6">
                            <label class="text-left">Curso</label>
                            <select class="form-control" name="curso" ngModel>
                              <option value="-1">(Seleccione)</option>
                              <option *ngFor="let curso of cursos" [value]="curso">
                                {{curso}}</option>
                            </select>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="card-body  semitransparent-success-bg">
                    <h4>
                      Escala de notas
                    </h4>

                    <p> ¿Cómo será calificado este curso? </p>

                    <div class="field">
                      <div class="control">
                        <label class="radio">
                          <input type="radio" name="numerica" value="false">
                          Escala numérica &nbsp;
                        </label>
                        <label class="radio">
                          <input type="radio" name="conceptual" value="true">
                          Escala conceptual
                        </label>
                      </div>
                    </div>
                  </div>



                  <div class="card-body" style="background-color: rgb(108, 117, 125 , 0.3)">

                    <p>Seleccione la <b>escala de calificaciones</b> que se utilizará para el curso.</p>

                    <div class="row">
                      <div class="col-sm-4">
                        <label for="curso">Escala numérica</label>
                        <select class="form-control" name="numerica" ngModel>
                          <option value="-1">(Seleccione)</option>
                          <option *ngFor="let item of escalaNumerica" [value]="">
                            {{item.min}},{{item.minAprobacion}},{{item.max}}</option>
                        </select>
                      </div>

                      <div class="col-sm-4">
                        <label for="curso">Escala conceptual</label>
                        <select class="form-control" name="conceptual" ngModel>
                          <option value="-1">(Seleccione)</option>
                          <option *ngFor="let escala of escalasConceptuales; index as i" [value]="">
                            {{escala[i].nombre}}</option>
                        </select>
                      </div>

                    </div>

                  </div>
                </div>

              </div>
            </div> <!-- FIN 1-->

            <!-- Niveles de Enseñanza Config General-->
            <div class="container col-sm-5 float-right">

              <div class="card bg-light">



                <div class="row">


                  <div class="col-md-12">


                    <div class="box">

                      <div class="card-footer">

                        <div class="row">

                          <div class="col-md-8">
                            <h5 class="text-info">Niveles de enseñanza</h5>
                            <p class="subtitle">Selecciona los niveles de enseñanza que se imparten en el
                              establecimiento</p>

                          </div>

                          <div class="form-group col-md-4  ">
                            <div class="row flex-row-reverse">
                              <button class="btn btn-outline-secondary btn-sm mb-2"><i class="fas fa-lock"></i>
                                Bloquear</button>
                            </div>
                            <div class="row flex-row-reverse">
                              <button class="btn btn-outline-success btn-sm"><i class="fas fa-lock-open"></i>
                                Desbloquear</button>
                            </div>
                          </div>

                        </div>

                      </div>

                      <div class="card-body">

                        <div class="form-group">
                          <div class="form-check" *ngFor="let t of tiposEnsenanza2; index as i">


                            <div class="custom-control custom-switch custom-switch-on-success">
                              <input type="checkbox" class="custom-control-input" id="customSwitch{{i}}" [value]="t">
                              <label class="custom-control-label" for="customSwitch{{i}}"> <span
                                  class="mr-2">{{i}}</span>
                                {{t}}</label>
                            </div>


                            <!-- <input class="form-check-input" type="checkbox" [value]="t" id="nivel_1">
                                  <label class="form-check-label" for="nivel_1">
                                      <span class="mr-2">{{i}}</span> {{t}}
                                  </label> -->


                          </div>

                        </div>

                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div> <!-- container gral config niveles de enseñanza -->


          </div>
        </div>


      <!-- Form 5 Card Crear Periodo Academico Diseño -->
      <div class="container-fluid border border-dark p-3">
        <div class="card bg-light col-sm-8 mx-auto">
          <div class="card-footer">
            <h2> Periodos académicos </h2>
          </div>

          <div class="card-header">

            <div class="row">
              <h5 class="card-title text-muted mt-2">Aqui puedes crear los semestres que necesites para el año. Un
                semestre, dos, trimestre, etc. </h5>
            </div>
            <div class="row mt-2">
              <button class="btn btn-secondary">Crear periodo académico</button>
            </div>
          </div>


          <div class="card-body">
            <form #a="ngForm">
              <div class="form-row">

                <div class="form-group col-sm-2">
                  <label for="periodoSelect">Periodo</label>
                  <select class="form-control" ngModel name="periodo" ngModel>
                    <option *ngFor="let p of tiposEnsenanza2" [label]="p" [value]="p"></option>
                  </select>
                </div>
                <div class="form-group col-sm-2">
                  <label for="fechaInicialInput">Fecha Inicial</label>
                  <input type="date" class="form-control" name="fechaInicial" ngModel>
                </div>
                <div class="form-group col-sm-2">
                  <label for="fechaFinalInput">Fecha Final</label>
                  <input type="date" class="form-control" name="fechaFinal" ngModel>
                </div>
                <div class="form-group col-sm-1">
                  <label class="text-center"><b>&nbsp;</b></label>
                  <button type="submit" class="btn btn-outline-success form-control"><i class="fas fa-plus-square"></i>
                    Crear</button>
                </div>
                <div class="form-group col-sm-2">
                  <label class="text-center"><b>&nbsp;</b></label>
                  <button type="button" class="btn btn-outline-secondary form-control"><i class="fas fa-ban"></i>
                    Cancelar</button>
                </div>
              </div>
            </form>

          </div>
        </div>
      </div>


      </div>




      <!-- Pagina Web Dental-->
      <div class="tab-pane fade  show p-4" id="paginaweb-config" role="tabpanel">

      </div>


            <!-- Pagina Web Dental-->
            <div class="tab-pane fade  show p-4" id="custom-switch-config" role="tabpanel">


              
              <div class="container border border-info">

                <div class="card-footer">
                    <div class="row">
                        <div class="col-md-8">
                            <h5 class="">Niveles de enseñanza</h5>
                            <p class="subtitle">Selecciona los niveles de enseñanza que se imparten
                                en el
                                establecimiento</p>

                        </div>
                        <div class="form-group col-md-4  ">
                            <div class="row flex-row-reverse">
                                <button class="btn btn-outline-secondary btn-sm mb-2"
                                (click)="lockTipos = true"><i class="fas fa-lock"></i>
                                    Bloquear</button>
                            </div>
                            <div class="row flex-row-reverse">
                                <button class="btn btn-outline-success btn-sm"
                                    (click)="lockTipos = false"><i class="fas fa-lock-open"></i>
                                    Desbloquear</button>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="card-body">


                  <!-- TODO ¿Porque no me funciono este custom switch y si mas abajo? Extraño -->
                    <!-- 
                    <div class="form-group">
                        <div class="form-check" *ngFor="let plan of planificacionesAll; index as i">
                            <div class="custom-control custom-switch custom-switch-on-success">
                                <input type="checkbox"  name="plan"  [(ngModel)]="plan.selected"
                                     id="customSwitch{{i}}" [value]="plan" 
                                    (change)="seleccionTipoEnsenanza(plan, $event)">
                                <label class="custom-control-label" for="customSwitch{{i}}"> <span
                                        class="mr-2">{{i}}</span> {{plan.tipoEnsenanza}}</label>
                            </div>
                        </div>
                    </div> -->

                    <div class="form-group" *ngFor="let plan of planificacionesAll; index as i"> 
                    <div class="custom-control custom-control-lg custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="customCheck123{{i}}" name="plan"  [(ngModel)]="plan.selected"
                      (change)="seleccionTipoEnsenanza(plan, $event)"  [disabled]="lockTipos">
                      <label class="custom-control-label" for="customCheck123{{i}}">{{plan.tipoEnsenanza}}</label>
                    </div>
                  </div>



                </div>

            </div>


            <!-- Form CUSTOM SWITCH buenisimo con ngModel  -->
            <div class="container border border-dark">

            <h2> Configurar Planificaciones
            </h2>

            <!-- SE COMENTA PERO PUEDE SERVIR EN EL FUTURO  -->
            <!-- <div class="card bg-light">
                <div class="card-header">
                    <h4> Importar planificación de otros profesores </h4>
                    <p> Activa o desactiva la opción para importar planificaciones de otros usuarios del mismo
                        establecimiento. </p>

                    <form #a="ngForm">
                        <div class="custom-control custom-checkbox-xl">
                            <input class="custom-control-input  custom-control-input-success" type="checkbox"
                                id="customCheckbox1" value="option1">
                            <label for="customCheckbox1" class="custom-control-label">Custom Checkbox</label>
                        </div>
                    </form>
                </div>
            </div> -->

            <div class="card bg-light">
                <div class="card-body">

                    <div class="container-fluid">
                        <div class="row">

                            <div class="col-md-6">
                                <p>Habilita los elementos curriculares y los momentos que se mostrarán en las
                                    cuentas de los profesores.</p>
                            </div>

                            <div class="col-md-6 row flex-row-reverse">
                                <div class="ml-3">
                                    <a class="btn btn-outline-secondary btn-sm mb-2"
                                        (click)="lockPlanificaciones = true">
                                        <i class="fas fa-lock"></i> Bloquear</a>
                                </div>
                                <div class="">
                                    <a class="btn btn-outline-success btn-sm" (click)="lockPlanificaciones = false">
                                        <i class="fas fa-lock-open"></i> Desbloquear</a>
                                </div>
                            </div>






                            <div class="col-md-12">
                                <hr>
                            </div>

                            <!-- Card para Planificaciones -->
                            <div class="card col-sm-3 bg-light mr-2"
                                *ngFor="let plan of planificaciones; index as i">

                                <div class="card-header">

                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <h5 class="title is-5">{{plan.tipoEnsenanza}}</h5>
                                        </div>
                                    </div>

                                </div>

                                <div class="card-body">

                                    <div class="col-md-12">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th>Elementos del currículum</th>
                                                    <th></th>
                                                </tr>
                                            </thead>

                                            <tbody>

                                                <tr>
                                                    <td>Objetivos de aprendizajes</td>
                                                    <td>
                                                        <div class="form-group">
                                                            <div
                                                                class="custom-control custom-switch custom-switch-on-success">
                                                                <input type="checkbox" class="custom-control-input"
                                                                    [disabled]="lockPlanificaciones" [(ngModel)]="plan.oa"
                                                                    id="{{plan.tipoEnsenanza}}-oa"
                                                                    (change)="updatePlanificaciones($event)">
                                                                <label class="custom-control-label"
                                                                    for="{{plan.tipoEnsenanza}}-oa"></label>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Indicadores de evaluación</td>
                                                    <td>
                                                        <div class="form-group">
                                                            <div
                                                                class="custom-control custom-switch custom-switch-on-success">
                                                                <input type="checkbox" class="custom-control-input"
                                                                    (change)="updatePlanificaciones($event)" [(ngModel)]="plan.indicador"
                                                                    [disabled]="lockPlanificaciones"
                                                                    id="{{plan.tipoEnsenanza}}-indicador">
                                                                <label class="custom-control-label"
                                                                    for="{{plan.tipoEnsenanza}}-indicador"></label>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Habilidad</td>
                                                    <td>
                                                        <div class="form-group">
                                                            <div
                                                                class="custom-control custom-switch custom-switch-on-success">
                                                                <input type="checkbox" class="custom-control-input"
                                                                    (change)="updatePlanificaciones($event)" [(ngModel)]="plan.habilidad"
                                                                    id="{{plan.tipoEnsenanza}}-habilidad"
                                                                    [disabled]="lockPlanificaciones">
                                                                <label class="custom-control-label"
                                                                    for="{{plan.tipoEnsenanza}}-habilidad"></label>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Conocimiento</td>
                                                    <td>
                                                        <div class="form-group">
                                                            <div
                                                                class="custom-control custom-switch custom-switch-on-success">
                                                                <input type="checkbox" class="custom-control-input"
                                                                    (change)="updatePlanificaciones($event)" [(ngModel)]="plan.conocimiento"
                                                                    id="{{plan.tipoEnsenanza}}-conocimiento"
                                                                    [disabled]="lockPlanificaciones">
                                                                <label class="custom-control-label"
                                                                    for="{{plan.tipoEnsenanza}}-conocimiento"></label>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td>Actitud</td>
                                                    <td>
                                                        <div class="form-group">
                                                            <div
                                                                class="custom-control custom-switch custom-switch-on-success">
                                                                <input type="checkbox" class="custom-control-input"
                                                                    (change)="updatePlanificaciones($event)" [(ngModel)]="plan.actitud"
                                                                    id="{{plan.tipoEnsenanza}}-actitud"
                                                                    [disabled]="lockPlanificaciones">
                                                                <label class="custom-control-label"
                                                                    for="{{plan.tipoEnsenanza}}-actitud"></label>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Principios DUA</td>
                                                    <td>
                                                        <div class="form-group">
                                                            <div
                                                                class="custom-control custom-switch custom-switch-on-success">
                                                                <input type="checkbox" class="custom-control-input"
                                                                    (change)="updatePlanificaciones($event)" [(ngModel)]="plan.dua"
                                                                    id="{{plan.tipoEnsenanza}}-dua"
                                                                    [disabled]="lockPlanificaciones">
                                                                <label class="custom-control-label"
                                                                    for="{{plan.tipoEnsenanza}}-dua"></label>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>

                                        </table>
                                    </div>
                                    <div class="col-md-12">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th>Momentos de la clase</th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>Inicio</td>
                                                    <td>
                                                        <div class="form-group">
                                                            <div
                                                                class="custom-control custom-switch custom-switch-on-success">
                                                                <input type="checkbox" class="custom-control-input"
                                                                    (change)="updatePlanificaciones($event)"  [(ngModel)]="plan.inicio"
                                                                    id="{{plan.tipoEnsenanza}}-inicio"
                                                                    [disabled]="lockPlanificaciones">
                                                                <label class="custom-control-label"
                                                                    for="{{plan.tipoEnsenanza}}-inicio"></label>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Desarrollo</td>
                                                    <td>
                                                        <div class="form-group">
                                                            <div
                                                                class="custom-control custom-switch custom-switch-on-success">
                                                                <input type="checkbox" class="custom-control-input"
                                                                    (change)="updatePlanificaciones($event)"  [(ngModel)]="plan.desarrollo"
                                                                    id="{{plan.tipoEnsenanza}}-desarrollo"
                                                                    [disabled]="lockPlanificaciones">
                                                                <label class="custom-control-label"
                                                                    for="{{plan.tipoEnsenanza}}-desarrollo"></label>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Cierre</td>
                                                    <td>
                                                        <div class="form-group">
                                                            <div
                                                                class="custom-control custom-switch custom-switch-on-success">
                                                                <input type="checkbox" class="custom-control-input"
                                                                    (change)="updatePlanificaciones($event)" [(ngModel)]="plan.cierre"
                                                                    id="{{plan.tipoEnsenanza}}-cierre"
                                                                    [disabled]="lockPlanificaciones">
                                                                <label class="custom-control-label"
                                                                    for="{{plan.tipoEnsenanza}}-cierre"></label>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>

                                            </tbody>
                                        </table>
                                    </div>

                                </div>

                            </div>


                            <div class="jumbotron col-md-12 border px-0" *ngIf="planificaciones.length == 0">
                                <section class="card-content d-flex justify-content-center align-self-center">
                                    <div class="content">
                                        <div>
                                            <h4 class="text-muted">No se han incluido tipos de enseñanza</h4>
                                            <br>Escoja niveles de enseñanza en <a class="nav-link"
                                                data-toggle="pill" href="#general-config" role="tab">Configuracion
                                                General </a>
                                        </div>
                                    </div>
                                </section>
                            </div>



                        </div>

                    </div>



                </div>

            </div>
            </div>








            </div>









            <div class="tab-pane fade  show p-4" id="custom-switch-config" role="tabpanel">










              </div>





      

    </div> <!-- FIN TAB CONTENT-->
  </div>
</div>