<!-- Form 1 y 2 -->
<div class="row border border-dark ">

  <!-- Form 1 con fondos de colores Config Curso LCE-->
  <div class="container-fluid col-sm-4 float-left">
    <div class="row ">

      <div class="card">
        <div class="card-body bootstrap-light-bg">
          <div class="row">
            <div class="col-sm-8">
              <label for="curso">
                <h2>Curso </h2>
              </label>

              <div class="form-group row">

                <div class="col-sm-6">
                  <label class="text-left">Tipo de Enseñanza</label>
                  <select class="form-control" name="curso" ngModel>
                    <option value="-1">(Seleccione)</option>
                    <option *ngFor="let curso of cursos" [value]="curso">
                      {{curso}}</option>
                  </select>
                </div>

                <div class="col-sm-6">
                  <label class="text-left">Curso</label>
                  <select class="form-control" name="curso" ngModel>
                    <option value="-1">(Seleccione)</option>
                    <option *ngFor="let curso of cursos" [value]="curso">
                      {{curso}}</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="card-body  semitransparent-success-bg">
          <h4>
            Escala de notas
          </h4>

          <p> ¿Cómo será calificado este curso? </p>

          <div class="field">
            <div class="control">
              <label class="radio">
                <input type="radio" name="numerica" value="false">
                Escala numérica &nbsp;
              </label>
              <label class="radio">
                <input type="radio" name="conceptual" value="true">
                Escala conceptual
              </label>
            </div>
          </div>
        </div>



        <div class="card-body" style="background-color: rgb(108, 117, 125 , 0.3)">

          <p>Seleccione la <b>escala de calificaciones</b> que se utilizará para el curso.</p>

          <div class="row">
            <div class="col-sm-4">
              <label for="curso">Escala numérica</label>
              <select class="form-control" name="numerica" ngModel>
                <option value="-1">(Seleccione)</option>
                <option *ngFor="let item of escalaNumerica" [value]="">
                  {{item.min}},{{item.minAprobacion}},{{item.max}}</option>
              </select>
            </div>

            <div class="col-sm-4">
              <label for="curso">Escala conceptual</label>
              <select class="form-control" name="conceptual" ngModel>
                <option value="-1">(Seleccione)</option>
                <option *ngFor="let escala of escalasConceptuales; index as i" [value]="">
                  {{escala[i].nombre}}</option>
              </select>
            </div>

          </div>

        </div>
      </div>

    </div>
  </div> <!-- FIN 1-->

  <!-- Niveles de Enseñanza Config General-->
  <div class="container col-sm-5 float-right">

    <div class="card bg-light">



      <div class="row">


        <div class="col-md-12">


          <div class="box">

            <div class="card-footer">

              <div class="row">

                <div class="col-md-8">
                  <h5 class="text-info">Niveles de enseñanza</h5>
                  <p class="subtitle">Selecciona los niveles de enseñanza que se imparten en el
                    establecimiento</p>

                </div>

                <div class="form-group col-md-4  ">
                  <div class="row flex-row-reverse">
                    <button class="btn btn-outline-secondary btn-sm mb-2"><i class="fas fa-lock"></i> Bloquear</button>
                  </div>
                  <div class="row flex-row-reverse">
                    <button class="btn btn-outline-success btn-sm"><i class="fas fa-lock-open"></i> Desbloquear</button>
                  </div>
                </div>

              </div>

            </div>

            <div class="card-body">

              <div class="form-group">
                <div class="form-check" *ngFor="let t of tiposEnsenanza; index as i">


                  <div class="custom-control custom-switch custom-switch-on-success">
                    <input type="checkbox" class="custom-control-input" id="customSwitch{{i}}" [value]="t">
                    <label class="custom-control-label" for="customSwitch{{i}}"> <span class="mr-2">{{i}}</span>
                      {{t}}</label>
                  </div>


                  <!-- <input class="form-check-input" type="checkbox" [value]="t" id="nivel_1">
                                    <label class="form-check-label" for="nivel_1">
                                        <span class="mr-2">{{i}}</span> {{t}}
                                    </label> -->


                </div>

              </div>

            </div>

          </div>
        </div>
      </div>
    </div>
  </div> <!-- container gral config niveles de enseñanza -->


</div>



<!-- Form 3 y 4 Datos Personales y Colegio -->
<div class="row border border-success">

  <!-- Form 3 Colegio Datos -->
  <div class="container-fluid col-12 mt-3">

    <div class="card bg-light col-md-5 border border-success">
      <div class="card-header">

        <div class="row">
          <div class="col-md-6">
            <h5 class="text-info">Datos del establecimiento</h5>
          </div>
          <div class="col-md-6 text-right">
            <button class="btn btn-info btn-sm">
              <i class="fas fa-edit"></i> Editar
            </button>
          </div>
        </div>

      </div>
      <div class="card-body">

        <div class="row">
          <div class="col-md-2">
            <strong>Nombre</strong>
          </div>
          <div class="col-md-4">
            ESCUELA PARTICULAR MARVEL
          </div>
        </div>
        <div class="row">
          <div class="col-md-2">
            <strong>RBD</strong>
          </div>
          <div class="col-md-4">
            32323
          </div>
        </div>
        <div class="row">
          <div class="col-md-2">
            <strong>Dirección</strong>
          </div>
          <div class="col-md-4">
            Kokos Island 123
          </div>
        </div>
        <div class="row">
          <div class="col-md-2">
            <strong>Región</strong>
          </div>
          <div class="col-md-4">
            Región Metropolitana de Santiago
          </div>

          <div class="col-md-1">
            <strong>
              Comuna</strong>
          </div>
          <div class="col-md-4">

            Blanca Nieves
          </div>


        </div>
        <div class="row">
          <div class="col-md-2">
            <strong>Fecha de aniversario</strong>
          </div>
          <div class="col-md-4">
            11/11/1991
          </div>
        </div>
        <div class="row">
          <div class="col-md-2">
            <strong>Correo electrónico</strong>
          </div>
          <div class="col-md-4">
            escuela@leningrado.cl
          </div>
        </div>
        <div class="row">
          <div class="col-md-2">
            <strong>Página Web</strong>
          </div>
          <div class="col-md-4">
            No registrado
          </div>
        </div>
        <div class="row">
          <div class="col-md-2">
            <strong>Número telefónico</strong>
          </div>
          <div class="col-md-4">
            5633233233
          </div>
        </div>
        <div class="row">
          <div class="col-md-2">
            <strong>Zona horaria</strong>
          </div>
          <div class="col-md-4">
            America/Santiago (UTC-4)
          </div>
        </div>

      </div>
    </div>


    <!-- Form 4 Datos Personales -->

    <div class="card bg-light col-md-4 float-right  border border-success">
      <div class="card-header">
        <div class="row">
          <div class="col-md-6">
            <h5 class="text-info">Mi Perfil</h5>
          </div>
          <div class="col-md-6 text-right">
            <button class="btn btn-primary btn-sm">
              <i class="fas fa-edit"></i> Editar
            </button>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-2">
            <strong>Nombre</strong>
          </div>
          <div class="col-md-4">
            German Garmendia
          </div>
        </div>
        <div class="row">
          <div class="col-md-2">
            <strong>Correo electrónico</strong>
          </div>
          <div class="col-md-4">
            Garmendia@toledo.cl
          </div>
        </div>
        <div class="row">
          <div class="col-md-2">
            <strong>Contraseña</strong>
          </div>
          <div class="col-md-8">
            **********
          </div>
        </div>
        <div class="row">
          <div class="col-md-2">
            <strong>RUN</strong>
          </div>
          <div class="col-md-8">
            123123123-2
          </div>
        </div>
        <div class="row">
          <div class="col-md-2">
            <strong>Teléfono</strong>
          </div>
          <div class="col-md-8">
            +56 9 1234 1234
          </div>
        </div>
      </div>
    </div>


  </div>


</div>


  <!-- Card para Planificaciones -->
<div class="row border border-secondary">


  <div class="container-fluid col-sm-12 m-2">
    <div class="card col-sm-3 bg-light mr-2">

      <div class="card-header">

        <div class="col-md-12">
          <div class="form-group">
            <h5 class="title is-5">Educación Parvularia</h5>
          </div>
        </div>

      </div>

      <div class="card-body">
        <div class="col-md-12">
          <table class="table">
            <thead>
              <tr>
                <th>Elementos del currículum</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Objetivos de aprendizajes</td>
                <td>
                  <div class="form-group">
                    <div class="custom-control custom-switch custom-switch-on-success">
                      <input type="checkbox" class="custom-control-input" id="customSwitch111">
                      <label class="custom-control-label" for="customSwitch111"></label>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <td>Indicadores de evaluación</td>
                <td>
                  <div class="form-group">
                    <div class="custom-control custom-switch custom-switch-on-success">
                      <input type="checkbox" class="custom-control-input" id="customSwitch222">
                      <label class="custom-control-label" for="customSwitch222"></label>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <td>Habilidad</td>
                <td>
                  <div class="form-group">
                    <div class="custom-control custom-switch custom-switch-on-success">
                      <input type="checkbox" class="custom-control-input" id="customSwitch33">
                      <label class="custom-control-label" for="customSwitch33"></label>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <td>Conocimiento</td>
                <td>
                  <div class="form-group">
                    <div class="custom-control custom-switch custom-switch-on-success">
                      <input type="checkbox" class="custom-control-input" id="customSwitch44">
                      <label class="custom-control-label" for="customSwitch44"></label>
                    </div>
                  </div>
                </td>
              </tr>

              <tr>
                <td>Actitud</td>
                <td>
                  <div class="form-group">
                    <div class="custom-control custom-switch custom-switch-on-success">
                      <input type="checkbox" class="custom-control-input" id="customSwitch55">
                      <label class="custom-control-label" for="customSwitch55"></label>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <td>Principios DUA</td>
                <td>
                  <div class="form-group">
                    <div class="custom-control custom-switch custom-switch-on-success">
                      <input type="checkbox" class="custom-control-input" id="customSwitch66">
                      <label class="custom-control-label" for="customSwitch66"></label>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-md-12">
          <table class="table">
            <thead>
              <tr>
                <th>Momentos de la clase</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Inicio</td>
                <td>
                  <div class="form-group">
                    <div class="custom-control custom-switch custom-switch-on-success">
                      <input type="checkbox" class="custom-control-input" id="customSwitch77">
                      <label class="custom-control-label" for="customSwitch77"></label>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <td>Desarrollo</td>
                <td>
                  <div class="form-group">
                    <div class="custom-control custom-switch custom-switch-on-success">
                      <input type="checkbox" class="custom-control-input" id="customSwitch88">
                      <label class="custom-control-label" for="customSwitch88"></label>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <td>Cierre</td>
                <td>
                  <div class="form-group">
                    <div class="custom-control custom-switch custom-switch-on-success">
                      <input type="checkbox" class="custom-control-input" id="customSwitch99">
                      <label class="custom-control-label" for="customSwitch99"></label>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

      </div>

    </div>
  </div>
</div>